@model IEnumerable<Application.Models.InitiativeModel>

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Initiatives
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var initiative in Model)
                {
                    <a class="dropdown-item" asp-area="" asp-controller="Initiative" asp-action="Detail" asp-route-id="@initiative.ID">@initiative.FixVersionName</a>
                }

            </div>
        </li>

    </ul>
