@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h5>Home</h5>
</div>
<div class="text-center">
    <h3>Welcome</h3>
</div>
<div class="text-center">
    <br />
    <br />
    <br />
</div>

